<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<script src="../../js/vue.js"></script>
</head>
<body>
<div id="root">
	<!--遍历数组-->
	<h2>人员列表</h2>
	<input type="text" v-model="keyword">
	<button @click="sortType=2">年龄升序</button>
	<button @click="sortType=1">年龄降序</button>
	<button @click="sortType=0">年龄原序</button>
	<ul>
		<li v-for="(p,index) in filPersons" :key="index">
			{{index}}=>{{p.name}}={{p.age}}<={{p.sex}}
		</li>
	</ul>
</div>
<script>
	//使用computed实现
	new Vue({
		el:'#root',
		data:{
			persons:[
				{id:'001',name:'马冬梅',age:15,sex:'男'},
				{id:'002',name:'周冬雨',age:16,sex:'女'},
				{id:'003',name:'周杰伦',age:18,sex:'男'},
				{id:'003',name:'温兆伦',age:12,sex:'女'}
			],
			keyword:'',
			sortType:0//0 原 1降序 2升序
		},
		computed:{
			filPersons:{
				get(){
					const arr =  this.persons.filter((p)=>{
						return p.name.indexOf(this.keyword)!==-1
					})
					//判断一下是否需要排序
					if (this.sortType){
						return arr.sort((a,b)=>{
							return this.sortType===1?b.age-a.age:a.age-b.age
						})
					}
					return arr
				}
			}
		}
	})
</script>
</body>
</html>